app_name = 'mini-rag'
app_version = '0.1'
file_max_size = 10 
file_allowd_extention = ["text/plain" ,"application/pdf"]
file_defult_chunk_size = 512000 
MONGO_USER= 'mongo user'
MONGO_PASS= 'password'
mongodb_url = "mongodb url"
mongodb_name = "mongodb name"