# Python / Virtual Environment
venv/
**/__pycache__/
*.py[cod]
*$py.class

# Packaging / Builds
*.egg-info/
dist/
build/

# Environment Variables & Secrets
.env
pipline

# Logs
*.log
# Exclude Docker Mongo data and env file
docker/data/mongodb/
docker/.env

# System Files
Thumbs.db
.DS_Store